# Folders
.venv
.vscode
__pycache__
coliseum-chain/target
coliseum-net/target
coliseum-client/node_modules

# Files
*.pyc
*.json
*.log
*.pem
src/certs/ca.key
test.ipynb
src/certs/private_key.key
src/certs/certificate.csr
*.lock

